---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/yba_hook/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Hooks can be imported using the hook UUID:

```sh
terraform import yba_hook.mount_volume 4f1f66a1-6b7f-4c5e-89f2-1b9f2f31e2c3
```
