---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/yba_restore/resource.tf" }}

For more details, see the [YugabyteDB Anywhere Restore Universe Data](https://docs.yugabyte.com/preview/yugabyte-platform/back-up-restore-universes/restore-universe-data/ysql/) documentation.

{{ .SchemaMarkdown | trimspace }}
