---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/yba_telemetry_provider/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Telemetry providers can be imported using their UUID:

```sh
terraform import yba_telemetry_provider.datadog <telemetry-provider-uuid>
```
