---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
description: |-
{{ index (split (trimspace .Description) "\n\n") 0 | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/yba_universe_load_balancer_config/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Universe load balancer configs can be imported using the universe UUID:

```sh
terraform import yba_universe_load_balancer_config.main <universe-uuid>
```
