---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/yba_user/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

User can be imported using `user uuid`:

```sh
terraform import yba_user.user <user-uuid>
```
